/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
      #Site Styles
      #Page Styles
      #Media Queries
      #Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    div.cs-product-container div.cs-cat-dropd{
        display: none !important;
    }
    div.cs-product-container div.cs-product-chooser{
        float: none !important;
        display: block !important;
        width: 100% !important;
        border-right:none !important;
        height: auto !important;
    }
    div.cs-product{
        width: 120px !important;
    }
    div.cs-pagination{
        margin-bottom: 20px !important;
    }
    .search-form{
        margin-top: 10px !important;
    }
    div.cs-product{
        width: 110px !important;
    }
    a.cs-turn-button{
        right: 120px !important;
    }
    div.cs-controls{
        width: 350px !important;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    div.cs-model{
        width: 410px !important;
        height: 515px !important;
        background-position: top center !important;
        background-size: 100% auto !important;
    }
    div.cs-bg-main{
        width: 410px !important;
        height: 515px !important;
        background-position: top center !important;
        background-size: 100% auto !important;
    }
    div.cs-controls{
        width: 400px !important;
    }
    div.cs-left-border{
        border-top:5px #e8e8e8 solid !important;
        border-left:5px #e8e8e8 solid !important;
        border-bottom:5px #e8e8e8 solid !important;
    }
    div.cs-gender-menu{
        width: 98.5% !important;
    }
    div.cs-left-col{
        height: auto !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    div.cs-right-col{
        height: auto !important;
        margin-top: 0 !important;
        background: #fff !important;
    }
    div.cs-right-border{
        border-left:5px #fff solid !important;
        overflow: hidden !important;
        clear:both !important;
        height: auto !important;
    }
    div.cs-product-container div.cs-cat-dropd{
        display: block !important;
        width: 100% !important;
        overflow: hidden !important;
        clear: both !important;
        margin-top: 0px !important;
        padding-top: 0px;
        background: #fff !important;
        border-top: 8px #e8e8e8 solid;
    }
    div.cs-product-container div.cs-product-chooser{
        float: none !important;
        display: block !important;
        width: 100% !important;
        border-right:none !important;
        height: auto !important;
    }
    div.cs-product{
        width: 120px !important;
    }
    div.cs-pagination{
        margin-bottom: 20px !important;
    }
    .search-form{
        margin-top: 10px !important;
    }

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    div.cs-cloth-opts a{
        line-height: 35px;
        font-size: 20px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    div.cs-model{
        width: 290px !important;
        height: 364px !important;
        background-position: bottom center !important;
        background-size: 100% auto !important;
        padding-top: 180px !important; 
    }
    div.cs-bg-main{
        width: 290px !important;
        height: 364px !important;
        background-position: bottom center !important;
        background-size: 100% auto !important;
        padding-top: 180px !important; 
    }
    div.cs-left-col{
        height: auto !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    div.cs-right-col{
        height: auto !important;
        margin-top: 0 !important;
    }
    div.cs-product-container{
        height: auto !important;
    }
    div.cs-product-container div.cs-product-chooser{
        float: none !important;
        display: block !important;
        width: 100% !important;
        border-right:none !important;
        height: auto !important;
    }
    div.cs-product-container div.cs-cat-dropd{
        display: block !important;
        width: 100% !important;
        height: auto !important;
        overflow: hidden !important;
        clear: both !important;
        margin-top: 10px !important;
        padding-top: 10px;
        background: #fff !important;
    }
    div.cs-right-border{
        overflow: hidden !important;
        clear:both !important;
        height: auto !important;
    }
    div.cs-product{
        width: 260px !important;
    }
    div.cs-prd-middle{
        border-left: none !important;
        border-right: none !important;
    }
    div.cs-product-row{
        border-bottom: none !important;
    }
    div.cs-shopping-cart{
        width: 100% !important;
        display: block !important;
        background: #aeaeae url(../img/cs-cart-bg.png) left top repeat-y !important;
        left:0 !important;
        top:0 !important;
    }
    .search-form{
        display: none  !important;
    }
    a.cs-turn-button{
        top: 200px !important;
        right: 12px !important;
    }
    div.cs-share-icons{
        bottom:4px !important;
        left: 5px !important;
    }
    div.cs-controls{
        width: 95% !important;
    }
    div.cs-gender-menu{
        width: 98% !important;
    }
    div.cs-left-border{
        border-top:5px #e8e8e8 solid !important;
        border-left:5px #e8e8e8 solid !important;
        border-bottom:5px #e8e8e8 solid !important;
    }
    div.cs-right-border{
        border-left:5px #fff solid !important;
    }
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
            Just create a "fonts" folder at the root,
            copy your FontName into code below and remove
            comment brackets */

/*	@font-face {
          font-family: 'FontName';
          src: url('../fonts/FontName.eot');
          src: url('../fonts/FontName.eot?iefix') format('eot'),
               url('../fonts/FontName.woff') format('woff'),
               url('../fonts/FontName.ttf') format('truetype'),
               url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
          font-weight: normal;
          font-style: normal; }
*/